altgraph==0.17
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
future==0.18.2
idna==2.9
numpy==1.18.2
pandas==1.0.3
PyMuPDF==1.16.16
pefile==2019.4.18
pycryptodome==3.9.7
PyInstaller==3.6
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.23.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
